* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

html,body{
  height: 100%;
 }

body {
    background-image: url("/images/pink-fire.jpg");
    background-size: auto; /* Set background image to cover */
    background-position: right; /* Center the background image */
    color: #fff;
    
}


body.light-mode {
  background-image: url("/images/pink-fire.jpg");
  background-size: auto; /* Set background image to cover */
  background-position: left; /* Center the background image */
  color: #fff;
  
}

body.light-mode .app {
  transform: translate3d(0, 0, 0);
  background: rgba(77, 77, 77, 0.175);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(10px); /* Safari */
  background: #ffffffa3;
  color: #2c1624;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  
 
}

body.light-mode .app h1 {
  color: #ffeff9; /* Adjust the color for h1 in light mode */
  border-bottom: 6px double  #2c1624;
}

body.light-mode .app h2 {
  color: #2c1624; /* Adjust the color for h2 in light mode */
}




.app{
  transform: translate3d(0, 0, 0);
    background: rgba(77, 77, 77, 0.175);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
    width: 90%;
    max-width: 600px;
    margin: 70px auto 0;
    border-radius: 12px;
    padding: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  

}


.app h1{
  font-family: 'luminari', sans serif;
    font-size: 50px;
    color: #2c1624;
    font-weight: 600;
    border-bottom: 6px double  #1f000d66;
    padding-bottom: 15px;
    animation: neon 3s infinite;
}

.quiz {
    padding: 20px 0;
    ;
}

.quiz h2{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
}



#toggle-mode-btn {
  background: linear-gradient(to right, #ff996697, #ff5e618d);
  color: #fff;
  border: none;
  padding: 8px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-left: 88%; /* Push the button to the right */
}

#toggle-mode-btn:hover {
  background: linear-gradient(to right, #ff5e62, #ff9966);
}





#next-btn {
    background: #ff5e61;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#next-btn:hover {
  background:#ff9966;
  color: #fff;
}


#answerCheckbox {
    display: flex;
    flex-direction: column;
    
  }

  #answerCheckbox label {
    margin-bottom: 6px; /* avståndet mellan checkboxarna */
  }



:root {
    --shadow-color: #ff9966;
    --shadow-color-light: #ff80e5;
  }
  
  
@keyframes neon {
  0% {
    text-shadow: 0 0 2.5px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light),
      0 0 7.5px var(--shadow-color-light),
      0 0 10px var(--shadow-color),
      0 0 15px var(--shadow-color),
      0 0 20px var(--shadow-color),
      0 0 25px var(--shadow-color),
      0 0 35px var(--shadow-color),
      0 0 50px var(--shadow-color),
      0 0 100px var(--shadow-color);
  }
  50% {
    text-shadow: 0 0 2.5px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light),
      0 0 7.5px var(--shadow-color-light),
      0 0 12.5px var(--shadow-color),
      0 0 20px var(--shadow-color),
      0 0 30px var(--shadow-color),
      0 0 40px var(--shadow-color),
      0 0 55px var(--shadow-color),

  }
  100% {
    text-shadow: 0 0 2.5px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light),
      0 0 7.5px var(--shadow-color-light),
      0 0 10px var(--shadow-color),
      0 0 15px var(--shadow-color),
      0 0 20px var(--shadow-color),
      0 0 25px var(--shadow-color),
      0 0 35px var(--shadow-color),
   
     
  }
}

  

/* Custom Checkbox Styling */
.checkbox {
  opacity: 0;
  position: absolute;
  z-index: 2; /* Move the default checkbox behind the custom one */
  margin-top: 8px;
  margin-left: 3px;
}

.checkbox + span {
  position: relative;
  padding-left: 30px; /* Space for the custom checkbox */
  display: inline-block;
  margin-bottom: 10px; /* Adjust as needed */
}

.checkbox + span::before {
  content: ""; /* Unicode checkmark character */
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  width: 20px; /* Size of the custom checkbox */
  height: 20px; /* Size of the custom checkbox */
  background-color: #fff; /* Color of the checkbox */
  border: 2px solid #751150; /* Border color of the checkbox */
  border-radius: 4px; /* Adjust as needed */
  box-sizing: border-box;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, line-height 0.3s; /* Added transition for the neon effect */
}

.checkbox:checked + span::before {
  background-color: #ff5e62; /* Color when checkbox is checked */
  border-color: #fff; /* Border color when checkbox is checked */
  color: #fff; /* Color of the checkmark */
  line-height: 20px; /* Should match the height of the checkbox */
  box-shadow: 0 0 10px #ff80e5, 0 0 20px #ff80e5, 0 0 30px #ff80e5; /* Neon glow effect */
}


/* Add styles for the feedback container */
#feedback-container {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 50px;
  border-radius: 7px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  

}

/* Style classes based on resultClass values */
.red {
  color: #fb0000;
}

.orange {
  color: rgb(255, 196, 0);
}

.green {
  color: rgb(30, 177, 30);
}



.result-container {
  font-size: 15px;
 
}

.result-item {
  padding-bottom: 15px;
  border-bottom: 2px solid  #ffffff66;

}

.correct {
  color: green;

}

.incorrect {
  color: red;
}


/* Additional styles for mobile devices */
@media only screen and (max-width: 600px) {
  body {
    background-image: url("/images/pink-fire.jpg");
    background-size: cover; /* Set background image to cover */
    background-position: right; /* Center the background image */
    height: 100vh;
  }

  body.light-mode {
    background-image: url("/images/pink-fire.jpg");
    background-size: cover; /* Set background image to cover */
    background-position: right; /* Center the background image */
    height: 100vh;
  }

  .app{
    transform: translate3d(0, 0, 0);
    background: rgba(77, 77, 77, 0.175);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 12px;
    padding: 50px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  

}

  
}