* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("/images/pink-fire.jpg");
    color: #fff;
    
}


body.light-mode .app {
  background: rgba(255, 255, 255, 0.6);
  color: #751150;
  /* Add any other light mode styles for .app here */
}

body.light-mode .app h1 {
  color: #751150; /* Adjust the color for h1 in light mode */
}

body.light-mode .app h2 {
  color: #751150 /* Adjust the color for h2 in light mode */
}




.app{
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 9px;
    padding: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  

}


.app h1{
    font-size: 50px;
    color: #ffd8c5;
    font-weight: 600;
    border-bottom: 1px solid  #ffd8c5;
    padding-bottom: 30px;
    animation: neon 3s infinite;
}

.quiz {
    padding: 20px 0;
    ;
}

.quiz h2{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding-bottom: 20px;
}



#toggle-mode-btn {
  background: linear-gradient(to right, #ff9966, #ff5e62);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  margin-left: 70%; /* Push the button to the right */
}

#toggle-mode-btn:hover {
  background: linear-gradient(to right, #ff5e62, #ff9966);
}





#next-btn:hover {
    background:#590b40;
    color: #fff;
}



#next-btn {
    background: #751150;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
    transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}




#answerCheckbox {
    display: flex;
    flex-direction: column;
  }

  #answerCheckbox label {
    margin-bottom: 6px; /* avståndet mellan checkboxarna */
  }



:root {
    --shadow-color: #ffffff;
    --shadow-color-light: white;
  }
  
  
  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }

/* Custom Checkbox Styling */
.checkbox {
  opacity: 0;
  position: absolute;
  z-index: 2; /* Move the default checkbox behind the custom one */
  margin-top: 8px;
  margin-left: 3px;
}

.checkbox + span {
  position: relative;
  padding-left: 30px; /* Space for the custom checkbox */
  display: inline-block;
  margin-bottom: 10px; /* Adjust as needed */
}

.checkbox + span::before {
  content: ""; /* Unicode checkmark character */
  position: absolute;
  left: 0;
  top: 45%;
  transform: translateY(-50%);
  width: 20px; /* Size of the custom checkbox */
  height: 20px; /* Size of the custom checkbox */
  background-color: #fff; /* Color of the checkbox */
  border: 2px solid #751150; /* Border color of the checkbox */
  border-radius: 4px; /* Adjust as needed */
  box-sizing: border-box;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s, line-height 0.3s; /* Added transition for the neon effect */
}

.checkbox:checked + span::before {
  background-color: #751150; /* Color when checkbox is checked */
  border-color: #fff; /* Border color when checkbox is checked */
  color: #fff; /* Color of the checkmark */
  line-height: 20px; /* Should match the height of the checkbox */
  box-shadow: 0 0 10px #ff80e5, 0 0 20px #ff80e5, 0 0 30px #ff80e5; /* Neon glow effect */
}


/* Add styles for the feedback container */
#feedback-container {
  display: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
  width: 100%;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
  

}

/* Style classes based on resultClass values */
.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}



.result-container {
  font-size: 12px;
 
}

.result-item {
  margin-bottom: 10px;

}

.correct {
  color: green;

}

.incorrect {
  color: red;
}